.card {
    position: relative;
    aspect-ratio: 343/281;
    display: flex;
    align-items: end;
    cursor: pointer;
    overflow: hidden;

    &:hover, &:active{
        button{
            transform: scale(1.05);
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80.07%);
        }
    }
    .content {
        position: relative;
        z-index: 5;
        padding: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;

        h3 {
            color: $color-white;
            font-size: 24px;
            font-weight: 800;
            line-height: 110%;
            letter-spacing: -0.96px;
            margin-bottom: 16px;
        }
    }
}

@media screen and (min-width: $toggleDesktop) {
    .card {
        aspect-ratio: 506/356;

        .content {
            display: block;

            h3 {
                font-size: 32px;
                font-weight: 800;
                line-height: 110%;
                letter-spacing: -0.96px;
            }
        }
    }
}
