.modal {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
    z-index: 200;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 59px;

    &.modalCategory {
        padding-bottom: 0;

        .imageContainer {
            flex-direction: column;
            gap: 8px;

            img {
                width: 100%;
            }
        }
        .content {
            padding: 24px 24px 0 24px;

            h2 {
                max-width: 80%;
                margin-bottom: 16px;
                font-size: 24px;
                font-weight: 800;
                line-height: 110%;
                letter-spacing: -0.96px;
            }

            p {
                font-size: 14px;
                line-height: 130%;
            }
        }
    }
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-accent;
    padding: 11px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 46px;
    width: 46px;
}
.modalBody {
    overflow-y: auto;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include customScrollerPad;
    height: 100%;
}
.imageContainer {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    flex-shrink: 0;

    &.single {
        img {
            width: 100%;
        }
    }
    img {
        aspect-ratio: 359/244;
        width: calc(100dvw - 32px);
        height: auto;
        object-fit: cover;
        flex-shrink: 0;
        flex-grow: 0;
    }
}
.content {
    padding: 62px 16px 0 16px;

    h2 {
        font-size: 32px;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: -0.96px;
        color: $color-accent;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 16px;
        font-weight: 900;
        line-height: 130%;
        letter-spacing: -0.32px;
        margin-bottom: 16px;
    }
}

.paragraps {
    display: flex;
    gap: 16px;
    flex-direction: column;

    .paragrap {
        font-size: 14px;
        font-weight: 400;
        line-height: 130%;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    left: 0;
    background-color: #000;
    align-items: center;
    padding-block: 18.5px;
    padding-inline: 16px;

    .container {
        display: flex;
        align-items: center;
    }
    h3 {
        font-size: 15px;
        font-weight: 900;
        line-height: 130%;
        letter-spacing: -0.3px;
        color: $color-accent;
        margin-bottom: 0;
        cursor: pointer;
    }
    button {
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width: $toggleDesktop) {
    .modal.modalCategory {
        padding-bottom: 0;

        .content {
            padding: 60px 0 0 100px;

            h2 {
                max-width: 80%;
            }
        }
    }
    .modalBody {
        overflow: hidden;
        gap: 20px;
        flex-direction: row;
    }
    .imageContainer {
        gap: 8px;
        width: calc(50% - 10px);
        flex-direction: column;

        &.single {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                aspect-ratio: auto;
            }
        }
        img {
            aspect-ratio: 610/380;
            width: 100%;
        }
    }
    .content {
        padding: 60px 0 0 100px;

        h2 {
            font-size: 42px;
            line-height: 100%;
            letter-spacing: -0.96px;
        }
        h3 {
            font-size: 18px;
            font-weight: 900;
            line-height: 130%;
            letter-spacing: -0.36px;
            margin-bottom: 32px;
        }
    }

    .paragraps {
        gap: 24px;

        .paragrap {
            font-size: 16px;
            font-weight: 400;
            line-height: 130%;
        }
    }

    .footer {
        padding-inline: 100px;

        h3 {
            font-size: 18px;
            font-weight: 900;
            line-height: 130%;
            letter-spacing: -0.36px;
            margin-bottom: 0;
        }
    }
}
