@font-face {
  font-family: "overdozesans";
  src: url("/fonts/overdozesans.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "onest";
  src: url("/fonts/Onest-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}