
.whatsNext {
    position: relative;
    margin-top: 100px;
    overflow: hidden;

    @media screen and (min-width: $toggleDesktop) {
        margin-top: 123px;
    }

    .title {
        margin-bottom: 32px;
        font-family: "Onest";
        font-weight: 900;
        font-size: 36px;
        text-align: center;
    }

    .description {
        font-weight: 800;
        font-size: 16px;
        line-height: 120%;
        text-align: center;

        @media screen and (min-width: $toggleDesktop) {
            max-width: 730px;
            margin: 32px auto;
            font-size: 24px;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 32px;
        margin-bottom: 32px;

        @media screen and (min-width: $toggleDesktop) {
            gap: 16px;
            max-width: 1030px;
            margin: 32px auto 32px;
        }

        .bgIcon,
        .bgIconTwo {
            display: none;

            @media screen and (min-width: $toggleDesktop) {
                display: block;
                position: absolute;
            }
        }

        .bgIcon {

            @media screen and (min-width: $toggleDesktop) {
                top: 20%;
                right: 5%;
            }
            @media screen and (min-width: 1600px) {
                right: 12%;
            }
            @media screen and (min-width: 2100px) {
                right: 22%;
            }
        }

        .bgIconTwo {

            @media screen and (min-width: $toggleDesktop) {
                top: 66%;
                left: 5%;
            }
            @media screen and (min-width: 1600px) {
                left: 12%;
            }
            @media screen and (min-width: 2100px) {
                left: 22%;
            }
        }

        .item {
            position: relative;
            width: 100%;
            min-height: 557px;
            border-radius: 44px;
            overflow: hidden;

            @media screen and (min-width: 570px) {
                min-height: 150px;
            }

            @media screen and (min-width: $toggleDesktop) {
                min-height: 221px;
                border-radius: 24px;
            }

            .wrapMapIcon {
                position: absolute;
                top: 54%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;

                @media screen and (min-width: $toggleDesktop) {

                    .iconMobMap {
                        display: none;
                    }
                }

                .iconDecMap {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        left: 48%;
                    }
                }

                .textMap {
                    position: absolute;
                    top: 43%;
                    left: 71%;
                    transform: translate(-50%, -50%) rotate(13deg);
                    width: 145px;
                    font-family: "overdozesans";
                    font-weight: 700;
                    font-size: 24.99px;
                    line-height: 80%;
                    text-align: center;
                    color: $color-light;

                    @media screen and (min-width: $toggleDesktop) {
                        top: 21%;
                        left: 60%;
                        font-size: 27px;
                    }
                }

                .textMapDop {
                    transform: translate(-50%, -50%) rotate(343deg);
                    left: 31% !important;
                }

                .colorWhite {
                    width: 160px;
                    top: 35%;
                    left: 53%;
                    color: #fff;

                    @media screen and (min-width: $toggleDesktop) {
                        width: 170px;
                        top: 30%;
                        left: 68%;
                    }
                }
            }

            .wrapCar {
                position: relative;
                z-index: 1;

                @media screen and (min-width: 570px) {
                   position: absolute;
                   bottom: 0;
                   left: 0;
                }

                img {
                    width: max-content;
                    min-width: 254px;

                    @media screen and (min-width: 570px) {
                        min-width: 150px;
                        max-width: 200px;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 262px;
                    }
                }

                .iconTop {
                    position: absolute;
                    top: 115%;
                    left: 36%;
                    transform: translateY(-50%);
                    z-index: -2;
                    min-width: 95px;
                    height: 100%;

                    @media screen and (min-width: 570px) {
                        top: 67%;
                        right: -51%;
                        left: initial;
                        transform: translateY(-50%) rotate(39deg);
                    }

                    path {
                        vector-effect: non-scaling-stroke;
                    }   

                     @media screen and (min-width: $toggleDesktop) {
                        display: none;
                    }
                }

                .iconTopDec {
                    display: none;
                    
                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: -81%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
            }

            .wrapProd {
                position: absolute;
                bottom: 0;  
                left: 50%;
                transform: translateX(-50%) !important;

                @media screen and (min-width: 570px) {
                    top: 50%;
                    right: 0;
                    bottom: initial;
                    left: initial;
                    transform: translateY(-50%) !important;
                }   

                img {
                    width: max-content;
                    min-width: 243px;

                    @media screen and (min-width: 570px) {
                        min-width: 150px;
                        max-width: 170px;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 330px;
                    }
                }

                .iconBottom {
                    height: 100%;
                    position: absolute;
                    top: 15%;
                    left: 28%;
                    transform: translateY(-50%);
                    z-index: -2;

                    path {
                        vector-effect: non-scaling-stroke;
                    }  

                    @media screen and (min-width: 570px) {
                        top: 50%;
                        left: -36%;
                        transform: translateY(-50%) rotate(264deg);
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        display: none;
                    }
                }

                .iconBottomDec {
                    display: none;
                    
                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: -50%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
            }

            &.itemBlue {

                @media screen and (min-width: $toggleDesktop) {
                    
                    .wrapCar {
                        .iconTopDec  {
                            right: -68%;
                        }
                    }

                    .wrapMapIcon {
                        top: 50%;
                        left: 51%;
                    }

                    .wrapProd  {
                        bottom: -36%;

                        img {
                            min-width: 373px;
                        }
                    }
                }
            }

            &.itemDop {
                .wrapProd {
                    
                    @media screen and (min-width: 570px) {
                        bottom: -92px;
                    }

                    .iconBottom {
                        top: 36%;
                        left: 33%;

                        @media screen and (min-width: 570px) {
                            top: 50%;
                            left: -46%;
                        }
                    }
                }
            }
        }

        .bgYellow {
            background: $bg-yellow; 

            .bgIcon {
                display: none;

                @media screen and (min-width: $toggleDesktop) {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: -13%;
                    transform: translateY(-50%) !important;
                }
            }
        }
        .bgBlue {
            background: $bg-blue; 
        }
        .bgGreen {
            background: $bg-green; 
        }
    }

    .infoText {
        font-weight: 800;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.7px;
        text-align: center;
        color: $color-primary;

        @media screen and (min-width: $toggleDesktop) {
            max-width: 715px;
            margin: 0 auto;
        }
    }
}