.wrapper {
  margin-top: 100px;
  overflow: hidden;

  @media screen and (min-width: $toggleDesktop) {
    margin-top: 140px;
  }
}

.title {
    margin-bottom: 32px;
    font-family: "Onest";
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    color: $color-primary;

    @media screen and (min-width: $toggleDesktop) {
        margin-bottom: 16px;
    }
}

.tabs {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    margin-bottom: 32px;
    overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;

    @media screen and (min-width: $toggleDesktop) {
      justify-content: center;
    }
}

.tab {
    padding: 10px 24px;
    border-radius: 4px;
    background-color: #EAEAEA;
    border-radius: 16px;
    font-family: Inter;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    color: $color-grey;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}

.active {
    color: #fff;
    background-color: $color-accent
}

.tableWrapper {
    max-height: 830px;
    overflow: auto;

    @media screen and (min-width: $toggleDesktop) {
        max-height: 423px;
    }
}

.table {
  width: 100%;
  border-collapse: collapse;

  th:nth-child(2),
  td:nth-child(2) {
    white-space: nowrap;
  }

  tbody {
    tr {
        border-top: 1px solid #D9D9D9;
        border-bottom: 1px solid #D9D9D9;

        &:nth-child(even) {
            background-color: #F3F3F3;
        }
    }

    &:last-child tr {
        border-bottom: none;
    }
  }

  th,
  td {
    padding: 16.5px 20px;
    vertical-align: middle;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #3A3A3A;
  }

  th {
    min-width: 170px;
    text-wrap-mode: nowrap;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    color: $color-accent;
    background-color: #FFECED;

    @media screen and (min-width: $toggleDesktop) {
      min-width: 225px;
    }
  }

  td {
    min-width: 195px;
    padding: 24px 20px;

    @media screen and (min-width: $toggleDesktop) {
        min-width: auto;
        max-height: 489px;
    }
  }
}

.table_secondary {
  .table {
    th {
      &:first-child {
        min-width: 330px;
      }

      &:first-child {
        min-width: 330px;
      }
    }
    td {
      @media screen and (min-width: $toggleDesktop) {
        min-width: auto;
      }
    }
  }
}
