.button {
    padding: 16px 24px;
    @include p16;
    font-weight: 700;
    border-radius: 100px;
    letter-spacing: -2%;
    transform: scale(1);
    cursor: pointer;
    color: $color-white;


    &.filled {
        background-color: $color-accent;
    }
    &.transparent{
        background-color: transparent;
        border: 1px solid $color-white;
    }

    svg {
        transform: translateX(0);
    }

    &:hover {
        transform: scale(1.05);

        svg {
            transform: translateX(10%);
        }
    }
}
