.heroSection {
    position: relative;
    min-height: 100vh;
    padding-top: 120px;
    overflow: hidden;

    .title {
        min-width: 180px;
        text-align: center;
    }

    .heroMain {
        display: flex;
        flex-direction: column;
        gap: 76px;

        @media screen and (min-width: $toggleDesktop) {
            min-height: 800px;
            flex-direction: row;
            gap: 0;
        }

        .heroContent {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media screen and (min-width: $toggleDesktop) {
                gap: 25px;
                margin-top: 123px;
            }

            .heroMainImg {
                position: relative;

                img {

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 583px;
                    }
                }
            }

            .title {
                max-width: 190px;
                margin: 0 auto;
                @include p16;
                font-weight: 800;
                letter-spacing: -0.1px;
                color: $color-text;

                @media screen and (min-width: $toggleDesktop) {
                    max-width: 100%;
                    margin: initial;
                    font-size: 24px;
                }

            }

            .btnWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2px;

                @media screen and (min-width: $toggleDesktop) {
                    gap: 8px;
                }

                button {
                    text-wrap-mode: nowrap;
                }
            }

            .bgIcons {

                .bgIconsItem1,
                .bgIconsItem2,
                .bgIconsItem3,
                .bgIconsItem4,
                .bgIconsItem5,
                .bgIconsItemMob {
                    position: absolute;
                }

                .bgIconsItemMob {
                    top: -10%;
                    left: 10%;

                    @media screen and (min-width: $toggleDesktop) {
                        display: none;
                    }
                }

                .bgIconsItem2 {
                    top: 50%;
                    right: -33px;

                    @media screen and (min-width: $toggleDesktop) {
                        top: initial;
                        left: initial;
                        bottom: 14%;
                        right: 35%;
                    }
                }

                .bgIconsItem4 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        top: 0;
                        left: 41px;
                    }
                }

                .bgIconsItem5 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        top: -21%;
                        left: 87%;
                    }
                }
            }

            .bgIconsItem1 {
                display: none;

                @media screen and (min-width: $toggleDesktop) {
                    display: block;
                    position: absolute;
                    bottom: 34%;
                    left: -20px;
                }
            }
        }

        .heroImg {
            position: relative;
            max-width: 350px;
            min-height: 352px;
            width: 100%;
            margin: 0 auto;

            @media screen and (min-width: $toggleDesktop) {
                max-width: 100%;
            }

            .heroImgbg {

                .heroImgbg1 {
                    position: absolute;
                    right: 0;

                    img {
                        width: 132px;
                        animation: spinSelf 100s linear infinite;

                        @media screen and (min-width: $toggleDesktop) {
                            width: 301px;
                        }
                    }

                    .bgIconsItem3 {
                        @media screen and (min-width: $toggleDesktop) {
                            display: none;
                        }
                    }

                    .bgIconsItem6 {
                        display: none;

                        @media screen and (min-width: $toggleDesktop) {
                            display: block;
                            position: absolute;
                            top: 14%;
                            right: -6%;
                        }
                    }
                }

                .heroImgbg2 {
                    position: absolute;
                    left: -5%;
                    bottom: -10%;
                    animation: spinSelf 120s linear infinite;

                    img {
                        width: 262px;

                        @media screen and (min-width: $toggleDesktop) {
                            width: 596px;
                        }
                    }
                }

                .heroImgbg3 {
                    position: absolute;
                    bottom: 0;
                    right: -5%;
                    animation: spinSelf 100s linear infinite;

                    @media screen and (min-width: $toggleDesktop) {
                        right: -35%;
                    }

                    img {
                        width: 262px;

                        @media screen and (min-width: $toggleDesktop) {
                            width: 596px;
                        }
                    }
                }

                .bgIconsItem3 {
                    position: absolute;
                    top: -20px;
                    right: 0;
                    z-index: 1;

                    svg {
                        width: 69px;
                        height: 60px;
                    }

                    @media screen and (min-width: 768px) {
                        top: -50px; 
                        right: 23%;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        right: 20px;
                        bottom: 14%;
                    }
                }
            }

            @keyframes spinSelf {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

            .heroImgWrap {
                width: 100%;
                height: 100%;
                min-height: 420px;
                max-height: 420px;
                max-width: 400px;
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: 0;
                
                @media screen and (min-width: $toggleDesktop) {
                    max-width: 100%;
                    left: 45%;
                }

                .bgIconsItem3 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        position: absolute;
                        bottom: 38%;
                        left: -24%;
                    }
                }

                .bgIconsItem1 {
                    position: absolute;
                    top: 0;
                    left: 0;

                    svg {
                        width: 40px;
                        height: 48px;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        display: none;
                    }
                }

                .photo1 {
                    position: absolute;
                    left: -60px;
                    bottom: 0;
                    width: 335px;
                    height: auto;
                    z-index: 1;

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 672px;
                        min-height: 704px;
                    }
                }

                .photo2 {
                    position: absolute;
                    right: -30px;
                    bottom: 0;
                    width: 250px;
                    z-index: 1;

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 490px;
                        min-height: 609px;
                        width: 490px;
                        right: -20%;
                    }
                }

                .heroImgWrapDop2 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        position: absolute;
                        bottom: 15%;
                        right: -16%;
                        z-index: 2;
                    }
                }
            }
        }
    }   

    .heroTextMain {
        position: relative;

        @media screen and (min-width: $toggleDesktop) {
            margin-top: -10px;
            position: relative;
            z-index: 10;
        }

        .heroTextContainer {
            padding: 0;

            @media screen and (min-width: $toggleDesktop) {
                max-width: 1240px;
                margin: 0 auto;
            }
        }

        .heroInformation {
            padding: 32px 16px;
            background: #F3F3F3;
            border-radius: 35px;

            @media screen and (min-width: $toggleDesktop) {
                display: grid;
                grid-template-columns:464px 1fr;
                align-items: center;
                padding: 34px 64px 34px 78px;
            }
        }

        .informationLogo {
            padding: 0 18px 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid 0000006b;

            @media screen and (min-width: $toggleDesktop) {
                max-width: 410px;
                padding-top: 50px;
                padding-bottom: 50px;
                margin-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        .informationText {

            @media screen and (min-width: $toggleDesktop) {
                padding-left: 55px;
                border-left: 1px solid #0000006b;
            }
        }

        .btnWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: $toggleDesktop) {
                gap: 8px; 
                justify-content: start;
            }

            button {
                text-wrap-mode: nowrap;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 25px;

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: -.32px;
                color: $color-light;

                @media screen and (min-width: $toggleDesktop) {
                    &:nth-child(1) {
                        max-width: 98%;
                    }
                }
            }
        }
    }
}