.heroSection {
    position: relative;
    min-height: 100vh;
    padding-top: 120px;
    overflow: hidden;

    @media screen and (min-width: $toggleDesktop) {
        padding-top: 160px;
    }
    
    .heroImgbgDec {
        display: none;

        @media screen and (min-width: $toggleDesktop) {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .bgIconsItem6 {
            display: none;

            @media screen and (min-width: $toggleDesktop) {
                display: block;
                position: absolute;
                top: 0;
                right: 10%;
            }
        }
    }

    .title {
        min-width: 180px;
        text-align: center;
    }

    .heroMain {
        display: flex;
        flex-direction: column;
        gap: 76px;

        @media screen and (min-width: $toggleDesktop) {
            min-height: 800px;
            flex-direction: row;
            gap: 0;
        }

        .heroContent {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media screen and (min-width: $toggleDesktop) {
                gap: 32px;
                margin-top: 170px;
            }

            .heroMainImg {
                position: relative;

                img {

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 556px;
                    }
                }
            }

            .title {
                max-width: 180px;
                margin: 0 auto;
                @include p16;
                font-weight: 800;
                color: $color-text;

                @media screen and (min-width: $toggleDesktop) {
                    max-width: 100%;
                    margin: initial;
                    font-size: 24px;
                }

            }

            .btnWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2px;

                @media screen and (min-width: $toggleDesktop) {
                    gap: 8px;
                }

                button {
                    text-wrap-mode: nowrap;
                }
            }

            .bgIcons {

                .bgIconsItem1,
                .bgIconsItem2,
                .bgIconsItem3,
                .bgIconsItem4,
                .bgIconsItem5,
                .bgIconsItemMob {
                    position: absolute;
                }

                .bgIconsItemMob {
                    top: -10%;
                    left: 10%;

                    @media screen and (min-width: $toggleDesktop) {
                        display: none;
                    }
                }

                .bgIconsItem2 {
                    top: 50%;
                    right: -33px;

                    @media screen and (min-width: $toggleDesktop) {
                        top: initial;
                        left: initial;
                        bottom: 8%;
                        right: 37%;
                    }
                }

                .bgIconsItem4 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        top: 0;
                        left: 41px;
                    }
                }

                .bgIconsItem5 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        top: -30%;
                        left: 91%;
                    }
                }
            }

            .bgIconsItem1 {
                display: none;

                @media screen and (min-width: $toggleDesktop) {
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 25%;
                }
            }
        }

        .heroImg {
            position: relative;
            max-height: 352px;

            @media screen and (min-width: $toggleDesktop) {
                max-height: 100%;
                width: 100%;
            }

            .heroImgbg {
                position: relative;
                margin-right: -16px;
                margin-bottom: -50px;

                @media screen and (min-width: 768px) {
                    transform: rotate(30deg);
                }

                @media screen and (min-width: $toggleDesktop) {
                   display: none;
                }

                .bgIconsItem3 {
                    position: absolute;
                    top: -20px;
                    right: 0;
                    z-index: 1;

                    @media screen and (min-width: 768px) {
                        top: -50px; 
                        right: 23%;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        right: 20px;
                        bottom: 14%;
                    }
                }
            }

            .heroImgWrap {
                width: 100%;
                height: 100%;
                min-height: 420px;
                max-height: 420px;
                max-width: 400px;
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: 0;
                
                @media screen and (min-width: $toggleDesktop) {
                    max-width: 100%;
                }

                .bgIconsItem3 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        position: absolute;
                        bottom: 29%;
                        left: -22%;
                    }
                }

                .bgIconsItem1 {
                    position: absolute;
                    top: 0;
                    left: 0;

                    svg {
                        width: 40px;
                        height: 48px;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        display: none;
                    }
                }

                .photo1 {
                    position: absolute;
                    left: -60px;
                    bottom: 0;
                    width: 335px;
                    height: auto;
                    z-index: 1;

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 638px;
                        min-height: 704px;
                    }
                }

                .photo2 {
                    position: absolute;
                    right: -30px;
                    bottom: 0;
                    width: 250px;
                    z-index: 1;

                    @media screen and (min-width: $toggleDesktop) {
                        min-width: 490px;
                        min-height: 586px;
                        width: 490px;
                        right: -14%;
                    }
                }

                .heroImgWrapDop2 {
                    display: none;

                    @media screen and (min-width: $toggleDesktop) {
                        display: block;
                        position: absolute;
                        right: -9%;
                        bottom: 0;
                        z-index: 2;
                    }
                }
            }

            img {

                @media screen and (min-width: $toggleDesktop) {
                    min-width: 947px;
                    min-height: 893px;
                }
            }
        }
    }   

    .heroTextMain {
        position: relative;

        @media screen and (min-width: $toggleDesktop) {
            margin-top: -10px;
            position: relative;
            z-index: 10;
        }

        .heroTextContainer {
            padding: 0;

            @media screen and (min-width: $toggleDesktop) {
                max-width: 1240px;
                margin: 0 auto;
            }
        }

        .heroInformation {
            padding: 32px 16px;
            background: #F3F3F3;
            border-radius: 35px;

            @media screen and (min-width: $toggleDesktop) {
                display: grid;
                grid-template-columns:464px 1fr;
                align-items: center;
                padding: 34px 64px 34px 78px;
            }
        }

        .informationLogo {
            padding: 0 18px 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid 0000006b;

            @media screen and (min-width: $toggleDesktop) {
                max-width: 410px;
                padding-top: 50px;
                padding-bottom: 50px;
                margin-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        .informationText {

            @media screen and (min-width: $toggleDesktop) {
                padding-left: 55px;
                border-left: 1px solid #0000006b;
            }
        }

        .btnWrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: $toggleDesktop) {
                gap: 8px; 
                justify-content: start;
            }

            button {
                text-wrap-mode: nowrap;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-bottom: 25px;

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                color: $color-light;
            }

            @media screen and (min-width: $toggleDesktop) {
                max-width: 81%;
            }
        }
    }
}