.formBlock {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;

    @media screen and (min-width: $toggleDesktop) {
        margin-top: 140px;
        margin-bottom: 140px;
    }

    .title {
        margin-bottom: 25px;
        font-family: Onest;
        font-weight: 900;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        color: #fff;

        @media screen and (min-width: $toggleDesktop) {
            margin-bottom: 32px;
        }
    }
    

}